<h2>Lista de movimentações financeiras</h2>

<p class="texto-receita">
  Receitas: {{ totalReceitas | currency:'BRL' }}
</p>
<p class="texto-despesa">
  Despesas: {{ totalDespesas | currency:'BRL' }}
</p>

<p [ngClass]="saldo >= 0 ? 'saldo-positivo' : 'saldo-negativo'">
  Saldo: {{ saldo | currency:'BRL' }}
</p>

<label for="categoria">Filtrar por categoria:</label>
<select id="categoria" [(ngModel)]="categoriaFiltro" (change)="calcularTotais()">
  <option value="">Todas</option>

  @for (cat of categoriasUnicas; track $index) {
    <option [value]="cat">{{ cat }}</option>
  }
</select>

<hr>

@if (movimentacoesFiltradas.length === 0) {
  <p>Não há movimentações para exibir.</p>
} @else {
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (mov of movimentacoesFiltradas; track mov._id) {
        <tr [ngClass]="mov.tipo">
          <td>{{ mov.tipo }}</td>
          <td>{{ mov.categoria }}</td>
          <td>{{ mov.descricao }}</td>
         <td>{{ mov.data | date:'dd/MM/yyyy' }}</td>
          <td [ngClass]="mov.tipo">{{ mov.valor | currency:'BRL' }}</td>
          <td>
            <button type="button" (click)="excluir(mov._id!)">
              Excluir
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
