h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Cores por tipo */
.receita {
  color: green;
}

.despesa {
  color: red;
}

/* Resumo financeiro */
.texto-receita {
  color: green;
  font-weight: bold;
}

.texto-despesa {
  color: red;
  font-weight: bold;
}

.saldo-positivo {
  color: green;
  font-weight: bold;
}

.saldo-negativo {
  color: red;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 6px 8px;
  text-align: left;
}

/* Larguras das colunas */
th:nth-child(2),
td:nth-child(2) {  /* Tipo */
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {  /* Categoria */
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {  /* Descrição */
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {  /* Data */
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {  /* Valor */
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {  /* Ações */
  width: 20%;
  text-align: center;
}

button {
  padding: 3px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
